<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- mapper
  	namespace란?
  	mapper 파일이 여러개일때, 해당하는 파일을 식별할 수 있는 식별자
  	이름을 정해줄때, 해당 mapper파일과 연결이 되는 DAO 쿨래스 이름을
  	일치 시켜주는 것을 원칙으로 함
   -->

<mapper namespace="com.smhrd.products.model.ProductsDAO">
<!-- mapper 태그 안쪽에 SQL 구문을 기술 -->

	<!-- id : DAO에서 sqlSession을 사용해 Mapper파일 안쪽에 있는 SQL구분을 맞아줄때 사용 값 
			중복 허용 안함

		resultType 동작원리
		: 나만의 자료형으로 resultType을 명시해놓았다면
		: 1. 기본 생성자를 호출해서 객체를 생성(mybatis가 알아서)
		: 2. 조회한 테이블의 컬러명과 일치하는 필드가 있는지 확인 
		: 3. 해당 필드의 setter 메소드를 호출해서 값을 채우는 구조
		* setter 메소드가 없거나, 기본생성자가 없어져버린경우 문제가 발생하기도 한다 !
		
		알아두면 좋은 팁!
		: resultType 에는 java 기본으로 존재하는 자료형은 굳이 명시하지 않아도 된다 !
	-->
	
	<!-- 상품 SQL =========================================================================================================== -->

	<!-- 전체 상품 조회 -->
	<select id="selectProducts" resultType="com.smhrd.products.model.ProductsDTO">
		SELECT *
		FROM PRODUCTS
	</select>
	
	<!-- 검색 조건으로 상품 조회 -->
	<select id="selectProductsAll" parameterType="com.smhrd.products.model.ProductsDTO" resultType="com.smhrd.products.model.ProductsDTO">
		SELECT *
		FROM PRODUCTS
		WHERE PROD_YN = 'Y'
		<if test='prod_name != "" and prod_name != null'>
			AND PROD_NAME LIKE '%'||#{prod_name}||'%'
		</if>
		<if test='prod_category != "상품 종류"'>
			AND PROD_CATEGORY LIKE '%'||#{prod_category}||'%'
		</if>
		<if test='prod_grade != "전체 등급"'>
			AND PROD_GRADE = #{prod_grade}
		</if>
		<if test='prod_priceMin != null or prod_priceMax != null'>
			AND PROD_PRICE BETWEEN #{prod_priceMin} AND #{prod_priceMax}
		</if>
	</select>
	
	
	
	<!-- 이미지 SQL ============================================================================================================ -->
	
	<insert id="ProductImageUpload">
        INSERT INTO image(UPLOADED_SEQ, PROD_ID, FILE_NAME, FILE_REALNAME, FILE_SIZE, FILE_EXT, FILE_PATH)
		VALUES( #{prodUploaded_seq}
				, #{prod_id}
				, #{prodFile_name}
				, TO_CHAR(SYSDATE,'YYMMDD_HH24MISS')||#{prodFile_name}
				, #{prodFile_size}
				, #{prodFile_ext}
				, #{prodFile_path}
			)
    </insert>
	
</mapper>