@charset "UTF-8";

.container {
	display: flex;
	justify-content: center;
	/* 가로 가운데 정렬 */
	align-items: center;
	/* 세로 가운데 정렬 */
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	/* 페이지 수평 가운데 정렬 */
	font-family: '맑은 고딕', 'Malgun Gothic', sans-serif;
	font-size: 13pt;

}

.product-image img {
	width: 480px;
	height: 480px;
	margin-top: -80px;
}

.product-details {
	width: 600px;

}

button[type="button"],
input[type="submit"] {
	display: inline-block;
	margin: 5px auto;
	clear: both;
	color: white;
	background-color: black;
	border-radius: 5px;
	padding: 7px 15px;
	transition: background-color 0.3s;
	/* 트랜지션 효과를 추가하여 부드러운 색상 전환 */
}

button[type="button"]:hover,
input[type="submit"]:hover {
	background-color: rgb(255, 255, 255);
	color: black;
}

/* 수정된 CSS 코드 */
button[type="button"] {
	width: 309px;
	/* 가로폭을 200px로 지정 */
}


.grade-table {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 600px;
        }

        .grade-cell {
            width: 200px;
            height: 200px;
            border: 2px solid #ccc;
            background-color: #fff;
            padding: 10px;
            font-size: 8pt;
            margin-bottom: 20px;
        }
        
        

button[type="button"]:hover,
input[type="submit"]:hover {
	background-color: rgb(255, 255, 255);
	color: black;
}

/* 추가된 CSS 코드 */
button[type="button"][onclick="addToCart()"],
button[type="button"][onclick="addToWishlist()"] {
    width: 150px; /* 가로폭을 100px로 지정 */
    background-color: rgb(255, 255, 255);
    color: black;
    border-style:  rgb(0, 0, 0); /* 테두리 제거 */
}

button[type="button"][onclick="addToCart()"]:hover,
button[type="button"][onclick="addToWishlist()"]:hover {
    background-color: rgb(0, 0, 0); /* 호버 상태일 때의 배경색 변경 */
    color: rgb(255, 255, 255);
}

.box {
    width: 380px;
    height: 100px;
    border: 2px solid #ccc;
    background-color: #fff;
    text-align: left;
    font-size: 8pt;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px; /* 좌측 여백 추가 */
    box-sizing: border-box; /* padding이 width, height에 포함되도록 설정 */
     /* 왼쪽 여백 추가 */
}
/* 알파벳들끼리 정렬 맞춤 */
.box span {
   display: inline-block;
    width: calc(100% - 5px);
    margin-right: 5px;
}

/* 한글끼리 정렬 맞춤 */
.box strong {
    display: inline-block;
    width: 100%;
}