@charset "UTF-8";
.container {
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    width: 100%;
    height: 100vh;
    margin: 0 auto; /* 페이지 수평 가운데 정렬 */
}

.left-page,
.right-page {
    width: 960px;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    width: 480px;
    height: 480px;
}

.product-details {
    width: 600px;
    padding: 20px;
}

.buttons {
    text-align: center;
    display: flex;
    justify-content: space-between; /* 요소 사이의 간격을 동일하게 설정하여 일렬로 정렬 */
}

.buttons button {
    width: calc((100% - 40px) / 3); /* 버튼을 동일한 너비로 설정 */
    margin: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
}

.add-to-cart,
.add-to-wishlist {
    width: calc((100% - 40px) / 3); /* 버튼을 동일한 너비로 설정 */
}